@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .absolute-align {
        @apply absolute top-[50%] left-[50%] transform translate-x-[-50%] translate-y-[-50%];
    }

}

@layer base {
    .btn {
        @apply font-Aktinson font-bold rounded-full;
    }

    .multi-winner-container {
        @apply rounded-lg flex flex-row font-bold font-Aktinson py-2 px-2 sm:py-4 sm:px-7 mx-auto sm:justify-between justify-around items-center text-center mb-4 w-[90%];
    }
}

@layer components {
    .btn-large {
        @apply text-[18px] py-[12px];
    }

    .btn-small {
        @apply px-[18px] py-[10px] text-[16px];
    }

    .btn-yellow {
        @apply bg-[#FDA214] hover:bg-[#FFB84A] text-white;
    }

    .btn-gray {
        @apply bg-[#DFE7EC] hover:bg-[#6395B8] text-[#304859] hover:text-white;
    }

    .active {
        @apply bg-[#304859] text-white hover:bg-[#304859];
    }

    .icon-holder {
        @apply bg-[#304859] w-full rounded-full aspect-square relative hover:cursor-pointer;
    }

    .memory-number {
        @apply text-white font-Aktinson font-bold text-center text-4xl absolute-align;
    }

    .matched {
        @apply bg-[#FDA214];
    }

    .checked {
        @apply bg-[#BCCED9];
    }

}

.col4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.col6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.yourTurn {
    background-color: #FDA214;
}

.icon-pending {
    background-color: #BCCED9;
}

.icon-matched {
    background-color: #FDA214;
}